

html {
  background-image: url(Atlantis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%
}

h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 10rem;
  text-align: center;
  transition: opacity 0.3s ease;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.square:active {
  opacity: 1.0;
}

.board {
  background-color: whitesmoke;
  display:flex;
  flex-wrap: wrap;
  width: 610px; 
  margin: 0 auto;
  opacity: .4;
  
}

.buttons {
  display: flex;
  margin: 0 auto;
  background-color: aqua;

}

.countdown {

  border-style: solid;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  padding: 1px 1px 1px 1px;
  background-color: aliceblue;
}

.footer {
  color: whitesmoke
}










